{% extends "layout.twig" %}
{% block content %}

{% include 'includes/header.twig' %}

<div class="feature-content">
    {{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"Lorem Ipsum","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '0','showBtn': true})|raw}}
</div>

<div class="wrapper">
	<div class="main">
		{{zone('main')|raw}}
	</div>
</div><!--end main-->

{% include 'includes/footer.twig' %}

{% endblock %}